<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src='./js/vue.js'></script>
   
   
   
    <style>
 
    </style>
</head>
<body>
        <div id="q1">
             <div id='q2'>
                <span>hi,欢迎来到百度糯米</span>
                <div id="msg">
                <a href="denglu.html">
                    <span>请登录</span>
                    
                    </a>
                <a href="zhuce.html">
                    <span>免费注册</span>
                   
                   </a>
                </div>
                <div id='span'>
                    <a href="">
                       <span>个人中心</span>

                    </a>
                    <div class="q1">
                     <a href="" >
                            <span id="q3">最近浏览</span>
                         </a>
                            <div id="q4">
                                <span>暂无浏览记录</span>
                            
                            </div>
                    </div>   
                          
                         <a href="">
                                <span>糯米APP</span>
         
                             </a>
                             <a href="">
                                    <span>帮助中心</span>
             
                                 </a>
                                 <a href="">
                                        <span>食品安全</span>
                 
                                     </a>
                      

                </div>
               
             </div>
        </div>

        <!--  -->
        <div id="w1">
            <div class="w1">
 <!-- 一 -->
                <a href="">      <img src="./img/biao.jpg" alt=""></a>
                <!-- 二 -->
                  <div class="w2">
                    <div>
                        <span id="w2"></span>
                        <!--下拉-->
                        <select name="provs">
                                <option>—请选择—</option><!--0-->
                                <option>北京市</option><!--1-->
                                <option>天津市</option>
                                <option>河北省</option>
                            </select>
                            <select name="cities" class="hide">
                            </select>
                     </div>
                     <div class="iconx">
                        <div id="icon" class="icon icon1"></div>
                     </div>
                     
                  </div>
                  <!-- 三 -->
                    <div id="w5">
                        <input type="text" id="w4" placeholder="搜索商家地址" style="outline:none">
                       <button >
                            <span class="w4" >搜</span>
                            <span class="w4">索</span>
                       </button>
                       <ul id="ul">
                           <li><a href=""><span>海鲜自助火锅</span></a></li>
                           <li><a href=""><span>天虹商场</span></a></li>
                           <li><a href=""><span>按摩</span></a></li>
                           <li><a href=""><span>成人英语培训</span></a></li>
                           <li><a href=""><span>钢琴培训</span></a></li>
                       </ul>

                    </div>
                    <!-- 赔付 -->
                    <div id="w6">
                         <a href="">
                             <!-- w5 w6 w7 上面div为了给backgrund图片添加背景黄颜色 -->
                           <div class="w8"> 
                             <div class="w5"></div>
                           </div>  
                           <div class="w9">
                            <div class="w6"></div>
                          </div>
                          <div class="w10">
                            <div class="w7"></div>
                         </div> 
                         </a>
                    </div>
            </div>
        </div>
        <!-- 全部分类 -->
        <div>  
            <!---->
            <div id="e1">
                 <div class="e1">
                     <div class="e2">全部分类</div>
                     <div class="e3">
                         <div></div>
                         <div></div>
                         <div></div>
                     </div>
                     
                 </div>
                 <!--  -->
                 <div id="e2">
                     <div>首页</div>
                     <div>酒店</div>
                     <div class="e4">出行
                                    <div id="icon" class="icon icon1"></div>
                     </div>
                     <div>电影
                          <img src="../img/7.png" alt="" class="e5">
                     </div>
                 </div>

            </div>
        </div>
        <!--  -->
        <div>
            <!-- e3 居中显示 -->
            <div id="e3">
                <div class="e6">
                   <div id="none1">
                        <div class="e7">
                                <div>
                                    <a href="">酒店</a>
                                </div>
                                <div>
                                    <a href="">北京/上海/广州</a>
                                </div>
                        </div>
                        <div class="nan1">
                             <div id="qw">
                                  <div class="qe">热门影片</div>
                                  <div id="ul1">
                                      <div>
                                            <div>其他美食</div>
                                            <div>火锅</div>
                                            <div>咖啡</div>
                                            <div>婚宴</div>
                                        </div>  
                                        <div>
                                                <div>其他美食</div>
                                                <div>火锅</div>
                                                <div>咖啡</div>
                                                <div>婚宴</div>

                                        </div>
                                        <div>
                                                <div>其他美食</div>
                                                <div>火锅</div>
                                                <div>咖啡</div>
                                                <div>婚宴</div>

                                        </div>
                                        <div>
                                                <div>其他美食</div>
                                                <div>火锅</div>
                                                <div>咖啡</div>
                                                <div>婚宴</div>

                                        </div>
                                  </div>
                             </div>
                             <div id="qr">
                                    <div class="qe">热门影片</div>
                                    <div id="ul2">
                                        <div>
                                              <div>其他美食</div>
                                              <div>火锅</div>
                                              <div>咖啡</div>
                                              <div>婚宴</div>
                                          </div>  
                                          <div>
                                                  <div>其他美食</div>
                                                  <div>火锅</div>
                                                  <div>咖啡</div>
                                                  <div>婚宴</div>
  
                                          </div>
                                          <div>
                                                  <div>其他美食</div>
                                                  <div>火锅</div>
                                                  <div>咖啡</div>
                                                  <div>婚宴</div>
  
                                          </div>
                                          <div>
                                                  <div>其他美食</div>
                                                  <div>火锅</div>
                                                  <div>咖啡</div>
                                                  <div>婚宴</div>
  
                                          </div>
                                    </div>
                                  
                             </div>

                        </div>
                  </div> 
                    <div class="e8">
                                <div>
                                    <a href="">电影</a>
                                </div>
                                <div>
                                    <a href="">看电影/找影院</a>
                                </div>
                    </div>
                    <div class="e9">
                                <div>
                                    <a href="">美食</a>
                                </div>
                                <div>
                                    <a href="">自助餐/火锅</a>
                                </div>
                    </div>
                    <div class="e10">
                                <div>
                                    <a href="">休闲娱乐</a>
                                </div>
                                <div>
                                    <a href="">温泉洗浴</a>
                                </div>
                    </div>
                    <div class="e11">
                                <div>
                                    <a href="">生活服务</a>
                                </div>
                                <div>
                                    <a href="">配镜/鲜花</a>
                                </div>
                    </div>
                    <div class="e12">
                                <div>
                                    <a href="">丽人</a>
                                </div>
                                <div>
                                    <a href="">美容SPA</a>
                                </div>
                    </div>
                    <div class="e13">
                                <div>
                                    <a href="">亲子</a>
                                </div>
                                <div>
                                    <a href="">儿童摄影</a>
                                </div>
                    </div>
                    <div class="e14">
                                <div>
                                    <a href="">养生</a>
                                </div>
                                <div>
                                    <a href="">运动健身</a>
                                </div>
                    </div>
                </div>
            
                <!--  -->
                <div id="e4">
                    <a href="./xq.html">
                            <div class="repeat">       
                                    <img src="./img/1.jpg" class="img0" alt="">        
                                    <img src="./img/2.jpg" class="img1" alt="">        
                                    <img src="./img/3.jpg" class="img2" alt="">        
                                    <img src="./img/4.jpg" class="img3" alt="">    
                                </div> 
                    </a>
                </div>
                <div id="e5">
                      <div class="e16">
                          <a href="">
                              <img src="../img/9.jpg" alt="">
                          </a>
                      </div>
                      <div class="e17">
                          <a href="">
                              <img src="../img/10.png" alt="">
                          </a>
                      </div>
                </div>
            </div>
        </div>
<!--  -->
<div id="kong">
  
</div>
<!-- 热映电影 -->
<div id=r1>
   <div>
    <span>热映电影</span>
   </div>
    <div class="r1">
        <a href="">看电影/找影院/看票房</a>
        <a href="">查看全部</a>
    </div>
</div>
<!-- 电影 -->
<div id="el" v-cloak>    
    <div id="r2"  v-for="(item,i) of an" :key="i" v-if="i==0,1,2"> 
        <div class="r2"  v-for='(p,i) of item':key='i' >
           <a :href="p.href">
            <div class="r3">
                 <img :src="p.photo" alt="">
                <div   >{{p.fen}}</div>
            </div>
            <div id="r3">
               {{p.title}}  
            </div>
            <div id="r4">
                 选座购票
            </div>
         
            </a>
            </div>
 
  </div>
</div>
<!--  -->

<!--  -->
        <!-- foot -->
      <div id="cv">
        <div id="f31">
                <div class="i1">
                    <!-- 第一列 -->
                    <ul class="i2">
                        <li>
                            <p>企业简介 </p>
                        </li> 
                        <li>
                            <a href="">企业简介 </a>
                        </li>
                        <li><a href="">企业历史</a> </li>
                        <li><a href="">企业荣誉 </a></li>
                        <li><a href="">全球布局 </a></li>
                    </ul>
                    <!-- 第二列 -->
                    <ul class="i3">
                            <li>
                                <p>
                                        人才招聘 
                                </p></li>
                            <li>
                                <a href="">社会招聘  </a>
                            </li>
                            <li><a href="">校园招聘</a>  </li>
                            <li><a href="">培训发展 </a> </li>
                            <li><a href="">快乐工作</a></li>
                        </ul>
                        <!-- 第三列 -->
                        <ul class="i4">
                                <li>
                                    <p>
                                            商城服务 
                                    </p></li>
                                <li>
                                    <a href="">售后政策  </a>
                                </li>
                                <li><a href="">价格保护</a>  </li>
                                <li><a href="">退款说明 </a> </li>
                                <li><a href="">退款货说明</a> </li>
                            </ul>
                            <!-- 第四列 -->
                            <ul class="i5">
                                    <li>
                                        <p>
                                                购物指南  
                                        </p></li>
                                    <li>
                                        <a href="">购物流程  </a>
                                    </li>
                                    <li><a href="">常见问题 </a>  </li>
                                    <li><a href="">在线支付</a> </li>
                                    <li><a href="">找人代付</a> </li>
                                </ul>
                                <!-- 第五列 -->
                                <ul class="i6">
                                        <li>
                                            <p>
                                                    物流配送 
                                            </p></li>
                                        <li>
                                            <a href="">送货范围 </a>
                                        </li>
                                        <li><a href="">送装一体 </a>  </li>
                                </ul>
                                <!-- 第六列 -->
                                <div >
                                        <ul class="i7">
                                                <li>
                                                    <p>
                                                            友情链接 
                                                    </p></li>
                                                <li>
                                                    <a href="">腾讯视频 </a>
                                                </li>
                                                <li><a href="">TV官网 </a>  </li>
                                        </ul>
                                </div>
                                <!-- 二维码div -->
                              
                        </div>
                     </div>
               </div>    
   <script>
       
  
   </script>
   <script src="./js/jquery-1.11.3.js"></script>
   <script src="index.js"></script>
  
</body>
</html>